plotly>=5.0.0
mcp>=1.1.0
fastmcp>=0.1.0
langchain-mcp-adapters>=0.1.0
langchain-google-genai
streamlit>=1.35.0
starlette==0.37.2
uvicorn>=0.29.0
yfinance
financialmodelingprep
pandas
numpy
pyarrow
fastapi
requests
python-dotenv